image: harbor.jibit.cloud/library/docker:stable
stages:
  - build
  - push

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://$DOCKER:2375
  CI_REGISTRY_IMAGE: iris

before_script:
  - VERSION=$(awk '/^## \[/{ sub(/^## \[/,""); sub(/\].*/,""); print; exit }' CHANGELOG.md)
  - |
    if [ -z "$VERSION" ] || [ "$VERSION" = "Unreleased" ]; then
      VERSION=develop
    fi
  - export IMAGE_TAG=$BASE_IMAGE/$CI_REGISTRY_IMAGE:$VERSION
  - export COMMIT_TAG=$BASE_IMAGE/$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  - export LATEST_TAG=$BASE_IMAGE/$CI_REGISTRY_IMAGE:latest

build:
  stage: build
  script:
    - echo "Building version $VERSION"
    - echo "Image tags $IMAGE_TAG, $COMMIT_TAG, $LATEST_TAG"
    - docker build --build-arg "GOPROXY=https://nexus.jibit.cloud/repository/gobit/" -t $IMAGE_TAG -t $COMMIT_TAG  -t $LATEST_TAG .
  only:
    - main
    - develop

push:
  stage: push
  script:
    - docker push $IMAGE_TAG
    - docker push $COMMIT_TAG
    - docker push $LATEST_TAG
  only:
    - main
  dependencies:
    - build
